AlumniAPI_NET9/.vs/
AlumniAPI_NET9/Properties/PublishProfiles/AlumniAPI20250607211620 - Web Deploy.pubxml
AlumniAPI_NET9/Properties/ServiceDependencies/AlumniAPI20250607211620 - Web Deploy/profile.arm.json
